{% extends 'base.html' %}
{% load static %}
{% block content %}
<section class="hero">
    <h2>Welcome to Your Oasis of Relaxation</h2>
    <p>Indulge in the finest hookah flavors and exquisite coffee in a serene atmosphere.</p>
</section>
<!--<section id="home" class="hero">-->
<!--    <div class="container">-->
<!--        &lt;!&ndash; Bootstrap Carousel &ndash;&gt;-->
<!--        <div id="myCarousel" class="carousel slide" data-bs-ride="carousel">-->
<!--            <div class="carousel-inner">-->
<!--                <div class="carousel-item active">-->
<!--                    <img src="path/to/your/image1.jpg" class="d-block w-100" alt="Slide 1">-->
<!--                </div>-->
<!--                <div class="carousel-item">-->
<!--                    <img src="path/to/your/image2.jpg" class="d-block w-100" alt="Slide 2">-->
<!--                </div>-->
<!--                &lt;!&ndash; Add more carousel items as needed &ndash;&gt;-->
<!--            </div>-->
<!--            <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">-->
<!--                <span class="carousel-control-prev-icon" aria-hidden="true"></span>-->
<!--                <span class="visually-hidden">Previous</span>-->
<!--            </button>-->
<!--            <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">-->
<!--                <span class="carousel-control-next-icon" aria-hidden="true"></span>-->
<!--                <span class="visually-hidden">Next</span>-->
<!--            </button>-->
<!--        </div>-->
<!--        &lt;!&ndash; End Bootstrap Carousel &ndash;&gt;-->

<!--    </div>-->
<!--</section>-->

<!--<section id="menu" class="features">-->
<!--    <div class="container">-->
<!--        &lt;!&ndash; Features content... &ndash;&gt;-->
<!--    </div>-->
<!--</section>-->

<!--<section id="hookah" class="features">-->
<!--    <div class="container">-->
<!--        &lt;!&ndash; Hookah content... &ndash;&gt;-->
<!--    </div>-->
<!--</section>-->

<!--<section id="about" class="features">-->
<!--    <div class="container">-->
<!--        &lt;!&ndash; About us content... &ndash;&gt;-->
<!--    </div>-->
<!--</section>-->
{% endblock %}