<ul class="pagination modal-4">
    {% if page_obj.has_previous %}
        <li><a href="?page={{ page_obj.previous_page_number }}" class="prev">
            <i class="fa fa-chevron-left"></i>
            Previous
        </a>
        </li>
        <li><a href="?page={{ page_obj.previous_page_number }}">
            {{ page_obj.previous_page_number }}</a></li>
    {% endif %}
    <li><a href="#" class="active">{{ page_obj.number }}</a></li>

    {% if page_obj.has_next %}
        <li><a href="?page={{ page_obj.next_page_number }}">
            {{ page_obj.next_page_number }}</a></li>
        <li><a href="?page={{ page_obj.next_page_number }}" class="next">
            Next
            <i class="fa fa-chevron-right"></i>
        </a></li>
    {% endif %}
</ul>

