{% extends "base.html" %}
{% load static %}


{% block content %}
    <link rel="stylesheet" href="{% static "css/profile.css" %}">
    <div class="container mt-4 mb-4 p-3 d-flex justify-content-center">
        <div class="card p-4">
            <div class=" image d-flex flex-column justify-content-center align-items-center">
                <button class="btn btn-secondary">{% if object.profile.image %}<img src="{{ object.profile.image.url }}" height="100" width="100" alt="">
                {% else %}<img src="https://i.imgur.com/wvxPV9S.png" height="100" width="100"/>{% endif %}
                </button>
                <span class="name mt-3">{{ object.first_name }} {{ object.last_name }}</span> <span class="idd">{{ object.email }}</span>
                <div class="d-flex flex-row justify-content-center align-items-center gap-2"><span class="idd1">{{ object.profile.phone_number }}</span>
                    <span><i class="fa fa-copy"></i></span></div>
                <div class="d-flex flex-row justify-content-center align-items-center mt-3"><span
                        class="number">10 <span class="follow">Orders</span></span></div>
                <div class=" d-flex mt-2">
                    <a href="{% url "users:update_user" object.pk %}"><button class="btn1 btn-dark">Edite Profile</button></a>
                </div>
                <div class="text mt-3"><span>Country {{ object.profile.country.name }}<br><br> </span>
                </div>
                <div class="gap-3 mt-3 icons d-flex flex-row justify-content-center align-items-center"><span><i
                        class="fa fa-twitter"></i></span> <span><i class="fa fa-facebook-f"></i></span> <span><i
                        class="fa fa-instagram"></i></span> <span><i class="fa fa-linkedin"></i></span></div>
            </div>
        </div>
    </div>
{% endblock %}
